<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Football League Table</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/topscorers">Najlepsi strzelcy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/suspended">Zawieszenia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/timetable">Terminarz</a>
      </li>
      <li class="nav-item">
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tabele
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/players">Pilkarz</a>
            <a class="dropdown-item" href="#">Mecz</a>
            <a class="dropdown-item" href="#">Druzyna</a>
            <a class="dropdown-item" href="#">Sędzia</a>
            <a class="dropdown-item" href="#">Rola</a>
            <a class="dropdown-item" href="#">Kartki</a>
            <a class="dropdown-item" href="#">Bramki</a>
            <a class="dropdown-item" href="#">Asysty</a>
            <a class="dropdown-item" href="#">Pilkarz w meczu</a>
          </div>
        </div>
      </li>
    </ul>
  </nav>