html {
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 1200px) {
    #twoColumn{
        max-width: 1500px;
    }
}

h3, h4 {
    font-weight: 800;
}

button {
    display: none;
}

td:hover {
    display: block;
}

#addForm {
    display: none;
}

#sidebar{
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1; /* Stay on top */
    transition: top 0.3s;
    transition-timing-function: ease-in-out;
    text-align: left;
    font-family: 'Open Sans', Arial, sans-serif;
  
  }


